
.header {
    height: 50px;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 100;
    background: rgba(255, 255, 255, .95);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.063rem 0.625rem 0px;
}

.imageHolder {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    flex-grow: 2;
    font-size: 18px;
}

@media(max-width: 250px) {
    .name {
        display: none;
    }
}